# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.res

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Source files
*.cpp
*.h
*.rc

# Image files
*.cur
*.ico
*.png
*.xpm

# CB files
*build_log.html
*.layout
*.depend

# wxWidgets build files
*.gcc
